<%= erb :'resources/header' %>
<div class='left'>
<h3>Request</h3>
<div class='js-filter'>
<pre class='curl'><code contenteditable class='bash'>curl <%= url %>.json
</code></pre>
<pre class='xhr'><code contenteditable class='javascript'>var request = new XMLHttpRequest();
request.open('GET', '<%= url %>.json', true);
request.onload = function() {
  if (request.status >= 200 && request.status < 400) {
    var data = JSON.parse(request.responseText);
    console.log(data);
  }
};
request.send();</code></pre>
<pre class='fetch'><code contenteditable class='javascript'>fetch('<%= url %>.json').then(function(response){
  response.json().then(function(data){
    console.log(data)
  })
})</code></pre>
<pre class='jquery'><code contenteditable class='javascript'>$.getJSON('<%= url %>.json').then(function(response){
    console.log(response)
})</code></pre>
</div>
</div>
<div class='right'>
<h3>Response</h3>
<pre><code class='json'><%= JSON.pretty_generate(@data.as_json)%>
</code></pre>
</div><!-- right -->

<div class='cb'>
<% if @entity && @entity.resources %>
  <% @entity.resources.each do |r| %>
     <li></li>
  <% end %>
<% elsif !@resource.entities.empty? %>
<h3>Get an individual <%= singularize @resource.title %>:</h3>
  <% @resource.entities.each do |e| %>
    <li><a href='<%= url %>/<%= e.id %>'><%= url %>/<%= e.id %></a></li>
  <% end %>
<% end %>
</div>
<script>
/*
  var iso = new Isotope( '.js-filter', {
    itemSelector: 'pre'
  });
  var klass = localStorage.getItem('iso-filter')
  if(klass) iso.arrange({filter: '.' + klass })
  var as = document.querySelectorAll('.request-options a')
  for (var i = 0; i < as.length; i++){
    as[i].addEventListener("click", function(e){
      localStorage.setItem("iso-filter", e.target.className)
      iso.arrange({filter: '.' + e.target.className })
    })
  }
*/
</script>