<h2>GET /<%= @resource.title %><% if @entity %>/<%= @entity.id %><% end %></h2>

<pre><code class='json'><% if @entity %><%= JSON.pretty_generate(@entity.as_json)%>
<% else %>
<%= JSON.pretty_generate(@resource.entities.as_json)%>
<% end %>
</code></pre>

<pre><code class='bash'>$ curl <%= url %>.json
</code></pre>

<% if @entity && @entity.resources %>
  <% @entity.resources.each do |r| %>
     <li></li>
  <% end %>
<% else %>
  <% @resource.entities.each do |e| %>
    <li><a href='<%= url %>/<%= e.id %>'><%= url %>/<%= e.id %></a></li>
  <% end %>
<% end %>