<h2 class='request'><%= method %> / <%= link path %></h2>

<% if @entity %>
  <a class='btn blue' href='<%= url %>?method=patch'>Update</a>
  <a class='btn red' href='<%= url %>?method=delete'>Delete</a>
<% else %>
  <a class='btn blue' href='<%= url %>?method=post'>Create</a>
<% end %>


<% if params[:method] == 'post' %>
<pre><code class='bash'>curl -X POST -d "key=value" <%= url %>.json
</code></pre>
<pre><code>var request = new XMLHttpRequest();
request.open('POST', '<%= url %>.json', true);
request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
request.send('key=value');
</code></pre>
<% elsif params[:method] == 'delete' %>
<pre><code class='bash'>curl -X DELETE <%= url %>.json
</code></pre>
<% elsif params[:method] == 'patch' %>
<pre><code class='json'><%= JSON.pretty_generate(@data.as_json)%>
</code></pre>
<pre><code class='bash'>curl -X PATCH -d "key=new-value" <%= url %>.json
</code></pre>
<% else %>
<pre><code class='json'><%= JSON.pretty_generate(@data.as_json)%>
</code></pre>
<pre><code class='bash'>curl <%= url %>.json
</code></pre>
<pre><code class='javascript'>var request = new XMLHttpRequest();
request.open('GET', '<%= url %>.json', true);
request.onload = function() {
  if (request.status >= 200 && request.status < 400) {
    var data = JSON.parse(request.responseText);
    console.log(data);
  }
};
request.send();
</code></pre>

<% end %>

<% if @entity && @entity.resources %>
  <% @entity.resources.each do |r| %>
     <li></li>
  <% end %>
<% else %>
  <% @resource.entities.each do |e| %>
    <li><a href='<%= url %>/<%= e.id %>'><%= url %>/<%= e.id %></a></li>
  <% end %>
<% end %>