Project expires <span class='moment'><%= (@project.ts + 86400) %></span>
<br>
<br>
<form action="<%= url %>" method="post">
    <input name="_method" type="hidden" value="delete" />
    <button class='btn red'>Delete Project</button>
</form>
<h3>Resources:</h3>
<ul>
<% @project.resources.each do |resource| %>
  <li><a href='/<%= @project.sha %>/<%= resource.title %>'><%= url %>/<%= resource.title %></a></li>
<% end %>
</ul>
<h3>Or Create a new Resource:</h3>
<pre><code class='bash' contenteditable>curl -X POST -d '{"title":"my-new-resource"}' <%= url %>
</code></pre>
<pre><code contenteditable>var request = new XMLHttpRequest();
request.open('POST', '<%= url %>', true);
request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
request.send('{"title":"kittens"}');
</code></pre>
<script src='/moment.min.js'></script>
<script>
  var m = document.querySelector(".moment")
  m.innerHTML = moment.utc(m.innerHTML).fromNow()
</script>