Project expires <span class='moment'><%= (@project.ts + 86400) %></span>
<br>
<br>
<% @project.resources.each do |resource| %>
  <li><a href='/<%= @project.sha %>/<%= resource.title %>'><%= resource.title %></a></li>
<% end %>
<h3>Or Create a new Resource:</h3>
<pre><code class='bash'>$ curl -X POST -d "title=my-new-resource" <%= url %>
</code></pre>
<script src='/moment.min.js'></script>
<script>
  var m = document.querySelector(".moment")
  m.innerHTML = moment(m.innerHTML).fromNow()
</script>